# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve -l -H localhost`. If you change this file, please restart the 
# server process.

# Basic Site Settings
locale                   : "en-US"
site_theme               : "default"
title                    : "Tessa Holtzman"
title_separator          : "-"
name                     : &name "Tessa Holtzman"
description              : &description "PhD Candidate in Sociology at Stanford."
url                      : "https://tessaholtzman.github.io"
baseurl                  : "" 
repository               : "tessaholtzman/tessaholtzman.github.io" 

# Site Author - The following control what appear as part of the author content on the side bar.
#               If a field is blank the icon and link will not appear, otherwise it will be shown.
#               Additional customization can be done by editing /_includes/author-profile.html
author:
  # Biographic information
  avatar           : "/TessaHoltzman.jpeg"
  name             : "Tessa Holtzman"
  pronouns         : "she/her"  
  bio              : "PhD Candidate, Stanford University Department of Sociology"
  location         : "Stanford, CA"
  email            : "tessamh@stanford.edu" 
  cv               : "/files/Holtzman_CV_public.pdf"
  github           : "tessaholtzman"
  linkedin         : tessa-holtzman

# SEO Related
google_site_verification : "VaWknkbGKlRGVswAfFD-XAuYli1XEaTMYE-F9LhovHY"
bing_site_verification   :
alexa_site_verification  :
yandex_site_verification :

# Reading Files
include:
  - _pages
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# These settings control how pages and collections are included in the site
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style

# Plugins
plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-redirect-from


